.App {
  font-family: sans-serif;
  text-align: center;
}

.list {
  display: grid;
  grid-gap: 10px;
  grid-template-areas: "pd1 pd2 pd3";
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 768px) {
  .list {
    grid-template-areas:
      "pd1"
      "pd2"
      "pd3";
    grid-template-columns: 1fr;
  }
}
